#login{
	margin-top:400px;
	font-family: Century Gothic;
	font-size: 17px;
	margin-left: 10px;
	color: black;
}
#register{
	margin-top:50px;
}
#button2{
	margin-left:10px;
	height:28px;
	font-family: Century Gothic;
	font-size: 18px;
	margin-top: 10px;
	margin-bottom: 20px;
}
#button1{
	margin-left:150px;
	height:28px;
	font-family: Century Gothic;
	font-size: 18px;
	margin-top: 10px;
	margin-bottom: 20px;
}
.back{
	background: url(m.jpg);
}
#button3{
	margin-left:10px;
	height:30px;
	font-family: Century Gothic;
	font-size: 18px;
	margin-top: 10px;
	margin-bottom: 20px;
}